.form-group {
	max-width: 60%;
}

.h1 {
	margin-left: 10px;
}

.kira {
	/*	float:left;*/
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10%;
	padding-left: 25px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
}